# requirements.txt pour l'application Thin Film Optimizer Streamlit

streamlit
jax
jaxlib  # Indispensable pour JAX, souvent installé avec jax mais mieux vaut l'expliciter
numpy
pandas
scipy
matplotlib
openpyxl  # Requis par Pandas pour lire les fichiers .xlsx
